section.features
  display: flex
  justify-content: space-between
  position: relative
  margin-bottom: 72px
  margin-top: 40px
  @media (max-width: 959px)
    flex-wrap: wrap
  @media (max-width: 480px)
    margin-bottom: -30px
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 15px
    right: 15px
    margin: auto
    height: 0
    width: calc(100% - 30px)
    border-bottom: 3px dashed $main
    z-index: -1
    @media (max-width: 959px)
      top: 110px
      bottom: auto
      width: calc(50%)
    @media (max-width: 576px)
      content: none
  &:before
    content: none
    position: absolute
    bottom: 50px
    left: 15px
    right: 15px
    margin: auto
    height: 0
    width: calc(50%)
    border-bottom: 3px dashed $main
    z-index: -1
    @media (max-width: 959px)
      content: ''
    @media (max-width: 576px)
      content: none
  .elem
    position: relative
    width: 200px
    height: 100px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border: 3px solid #FFB902
    border-top: none
    border-radius: 0 6px 6px 6px
    box-sizing: border-box
    background: $white
    margin-top: 60px
    @media (max-width: 959px)
      margin-right: calc((50% - 200px) / 2)
      margin-left: calc((50% - 200px) / 2)
      margin-bottom: 30px
    @media (max-width: 480px)
      width: 140px
      height: 60px
      margin: 0 calc((50% - 140px) / 2) 70px
    &:before
      content: ""
      position: absolute
      width: 201px
      height: 50px
      border-left: 3px solid #ffb902
      border-top: 3px solid #ffb902
      border-bottom: 3px solid transparent
      transform: rotate(10deg) skew(10deg,0deg)
      border-radius: 15px 6px 0 0
      left: -5px
      top: -18px
      @media (max-width: 480px)
        width: 138px
        height: 30px
        left: -4px
        top: -14px
    p
      margin: 0
      font-size: 22px
      line-height: 26px
      color: $black
      @media (max-width: 480px)
        font-size: 18px
        line-height: 21px
      @media (max-width: 400px)
        font-weight: 500
        font-size: 13px
        line-height: 170%
    b
      font-weight: 500
      font-size: 32px
      line-height: 38px
      @media (max-width: 480px)
        font-size: 26px
        line-height: 31px
      @media (max-width: 400px)
        font-size: 14px
        line-height: 17px
    &:nth-child(1)
      top: 0
      left: 0
    &:nth-child(2)
      bottom: 0
      left: 0
      @media (max-width: 959px)
        &:after
          content: ''
          position: absolute
          top: 100%
          left: 0
          right: 0
          margin: auto
          height: calc(100% - 25px)
          width: 0
          border-left: 3px dashed $main
          z-index: -1
      @media (max-width: 576px)
        &:after
          content: none
    &:nth-child(3)
      bottom: 0
      right: 0
    &:nth-child(4)
      top: 0
      right: 0
    .image
      position: absolute
      width: 67px
      height: 67px
      padding: 5px
      bottom: 100%
      transform: translateY(25%)
      left: 17px
      background: #fff
      @media (max-width: 480px)
        width: 40px
        height: auto
        left: 10px
        bottom: calc(100% + 10px)