.product
  display: flex
  flex-direction: column
  padding: 45px 15px 32px
  background: #FFFFFF
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 10px
  @media (max-width: 520px)
    padding: 10px 5px 20px
  .image
    position: relative
    margin: 0 0 20px
    width: 100%
    height: 0
    padding-bottom: 123%
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  .name
    font-weight: 500
    font-size: 22px
    line-height: 170%
    text-decoration: underline
    color: $black
    margin: 0 0 14px
    @media (max-width: 520px)
      font-size: 16px
    @media (max-width: 420px)
      font-size: 13px
      margin-bottom: 6px
  .properties
    display: flex
    flex-direction: column
    padding: 0
    margin: 0
    list-style: none
    flex: 1
    li
      display: flex
      flex-wrap: wrap
      .name
        font-size: 18px
        line-height: 157%
        color: $black
        text-decoration: none
        margin: 0 5px 0 0
        @media (max-width: 520px)
          font-size: 14px
        @media (max-width: 420px)
          font-size: 10px
      .desc
        font-weight: 300
        font-size: 18px
        line-height: 157%
        color: $black
        margin: 0
        @media (max-width: 520px)
          font-size: 14px
        @media (max-width: 420px)
          font-size: 10px
  .price
    font-weight: 500
    font-size: 26px
    line-height: 31px
    text-transform: uppercase
    color: $black
    margin-bottom: 18px
    @media (max-width: 520px)
      font-size: 18px
      line-height: 21px
    @media (max-width: 420px)
      font-size: 14px
      line-height: 17px
      margin-bottom: 10px
  .btn
    @media (max-width: 480px)
      font-size: 12px
      line-height: 16px
      margin-top: 10px
      padding: 4px 5px 6px
      &:before
        height: 10px