section.products
  display: flex
  flex-direction: column
  margin-bottom: 100px
  .top-block
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 50px
    @media (max-width: 767px)
      flex-direction: column
      margin-bottom: 20px
    .section-title
      @media (max-width: 950px)
        font-size: 36px
        line-height: 42px
      @media (max-width: 767px)
        margin-bottom: 40px
      @media (max-width: 480px)
        font-size: 26px
        line-height: 31px
  .sort
    display: flex
    align-items: center
    justify-content: flex-start
    margin-bottom: 40px
    align-items: center
    p
      font-size: 24px
      line-height: 170%
      color: $black
      margin: 0 35px 0 0
      @media (max-width: 576px)
        margin-right: 20px
      @media (max-width: 480px)
        font-size: 14px
        margin-right: 8px
  .product-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 10px
    grid-auto-rows: auto
    grid-row-gap: 20px
    margin-bottom: 40px
    @media (max-width: 1199px)
      grid-template-columns: repeat(3, 1fr)
    @media (max-width: 767px)
      grid-template-columns: 1fr 1fr
  .bottom-block
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 480px)
      flex-direction: column-reverse
    .link
      font-size: 24px
      line-height: 170%
      text-decoration: underline
      color: $black
      padding-right: 40px
      position: relative
      @media (max-width: 767px)
        font-size: 18px
        padding-right: 30px
      @media (max-width: 480px)
        align-self: flex-start
        font-size: 12px
        line-height: 14px
      &:after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        margin: auto
        width: 22px
        height: 12px
        background: url('../img/svg/arrow_right.svg') center center/100% 100% no-repeat
      &:hover
        text-decoration: none