section.production
  display: flex
  flex-direction: column
  margin-bottom: 180px
  @media (max-width: 1023px)
    margin-bottom: 90px
  @media (max-width: 480px)
    margin-bottom: 50px
  .section-title
    margin-bottom: 60px
  .category-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: 1fr
    grid-column-gap: 175px
    grid-row-gap: 70px
    @media (max-width: 1365px)
      grid-column-gap: 75px
    @media (max-width: 960px)
      grid-template-columns: repeat(2,1fr)
      margin: 0 40px
    @media (max-width: 767px)
      margin: 0 30px
    @media (max-width: 480px)
      margin: 0
      grid-column-gap: 15px
      grid-row-gap: 30px
    .elem
      position: relative
